<% page_title('Edit Lading') %>

<h1>Edit this lading or go <%= link_to 'back to the ladings list', customer_ladings_path(current_customer) %></h1>

<div class='form-wrapper'>
  <%= render 'lading_form' %>
</div>
